<div ref="inpostDetailsCard" v-show="showCard">
    <sw-card title="InPost details">
        <div class="container">
            <sw-order-detail-inpost-detail-card--point-details :order="order" />

            <div class="actions">
                <sw-order-detail-inpost-detail-card--get-label :order="order" />

                <sw-order-detail-inpost-detail-card--create-package :order="order" />
            </div>
        </div>
    </sw-card>
</div>
