<div class="inpost-point-detail">
    <div class="image" ref="pointImageDiv">
        <img src="" alt="{{ $tc('cardDetails.pointName') }}" ref="pointImage" />
    </div>

    <div class="information">
        <p class="text-bold" ref="pointName"></p>
        <p ref="street"></p>
        <p ref="postCode"></p>
        <p ref="city"></p>
        <p ref="province"></p>
    </div>
</div>
