.sw-data-grid .sw-data-grid__cell--header {
    z-index: 7;
}

.sw-data-grid .sw-data-grid__body .sw-data-grid__row.is--selected.background-red .sw-data-grid__cell {
    background-color: red;
}

.sw-data-grid .sw-data-grid__body .sw-data-grid__row.is--selected.background-green .sw-data-grid__cell {
    background-color: lightgreen;
}

.sw-modal__titles {
    text-align: left;

    small {
        display: block;
    }
}

.sw-modal__body {
    background: #fff;
}

form {
    .red-star {
        color: red;
    }
}
